$scarlet: #d0021b;
$dark-red: #da291c;
$light-red: #e6726a;
$twilight-blue: #0e368d;
$white: #e9e9e9;
$white-two: #f9f9f9;
$white-three: #d4d4d4;
$white-four: #eeeeee;
$white-five: #cccccc;
$brownish-grey: #5b5b5b;
$black: #252525;
$silver: #d7d8d9;
$silver-light: #f0f0f0;
$lightblue: #67bcee;
$lightgrey: #7f7f7f;
$lightgray: #d3d3d3;
$lightergrey: #8a8a8f;
$lightestgrey-one: #b6b6b6;
$lightestgrey-two: #c8c8c8;
$lightestgrey-three: #e0e0e0;
$darkskyblue: #00A0DF;
$lightskyblue: #00a0df;
$dark-green: #458b00;
$light-green: #e3eed9;

$purewhite:#ffffff;
$pureblack:#000000;
$blue: #0e368d;
$blue-one: #00A0DF;
$darkish-blue: #003087;
$textgrey: #848484;



$footer-height: 330px;
$footer-height-mobile: 350px;
$mobileBreakpoint: 980px;
