@import '../../assets/scss/variables';

.remove-payment-method-confirmation {
  width: 100%;
  box-sizing: border-box;
  background-color: $purewhite;
  .remove-payment-text {
      margin: 30px;
      font-size: 20px;
  }
  .payment-card {
    padding: 16px 30px;
    margin-bottom: 25px;
    display: flex;
    flex-flow: row;
    border-radius: 5px;
    .card-img {
      width: 61px;
      height: 42px;
    }
    .payment-info {
      margin-top: 0px;
      margin-left: 16px;
      .card-detail {
        font-size: 18px;
        margin: 0px;
        color: $black;
      }
      .card-expiry {
        font-size: 16px;
        margin: 0px 0px 0px 4px;
        color: $lightestgrey-two;
      }
    }
  }
  .action-field {
    display: flex;
    flex-direction: column;
    margin: 0 85px;
    &.default-card {
      margin: 30px;
      @media screen and (max-width: $mobileBreakpoint) {
        margin: 0;
      }
    }
    button {
      margin-bottom: 10px;
      &.not-now {
        margin-bottom: 0;
        color: $lightskyblue;
        background: $purewhite;
        border: $purewhite;
      }
      @media screen and (max-width: $mobileBreakpoint) {
        margin: 0 14px;
        margin-bottom: 20px;
      }
    }
    @media screen and (max-width: $mobileBreakpoint) {
      display: block;
      margin: 0;
    }
  }
  @media screen and (max-width: $mobileBreakpoint) {
    padding: 30px;
    padding-top: 50px;
    margin-top: 80px;
  }
}