@import "../variables";

button.csa-button {
  font-size: 19px;
  font-weight: 500;
  width: 320px;
  text-align: center;
  border: none;
  border-radius: 7px;
  padding: 12px;
  cursor: pointer;
  outline: none;
  &.primary {
    background: $lightskyblue;
    color: $purewhite;
  }
  &.secondary {
    background: $purewhite;
    color: $brownish-grey;
    border: 2px solid $brownish-grey;
    &:hover {
      background: $lightskyblue;
      color: $purewhite;
      border: 2px solid $lightskyblue;
    }
  }
}

button.link-button {
  background:none!important;
  color:inherit;
  border:none;
  padding:0!important;
  font: inherit;
  color: $twilight-blue;
  text-decoration: underline;
  cursor: pointer;
}
