@import "../../assets/scss/variables";

.messaging-page {
  margin-bottom: 55px;

  &.under-maintenance {
    .secondary-header {
      font-weight: bold;
      margin-top: 50px;
      text-align: center;
      max-width: 450px;
      margin: 0 auto;
      h3 {
        padding-top: 30px;
      }
      img {
        margin-top: 75px;
      }
    }
  }

  .header-info {
    h1, h3 {
      text-align: center;
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;
    }
    h1 {
      color: $black;
      font-size: 35px;
      font-weight: bold;
      width: 100%;
      max-width:inherit;
    }
  }

  .messaging-content {
    background-color: $white-two;
    text-align: center;
    p, .action-field {
      max-width: 500px;
      margin: 0 auto;
    }
    p {
      font-size: 20px;
      color: $pureblack;
      margin-bottom: 30px;
    }
    .action-field {
      position: relative;

      button {
        width: 160px;
        position: absolute;
        right: 0px;
        border-radius: 7px;
        font-size: 19px;
        font-weight: bold;
        height: 100%;
      }
    }
  }



  .line {
    margin-top: 78px;
  }
  .messaging-email {
    font-size: 20px;
    font-weight: bold;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
  }
}
