@import "../../assets/scss/variables";
.terms-and-conditions {
    @media(max-width: $mobileBreakpoint) {
        color: $textgrey;
        padding: 0 28px;
        font-size: 14px;
        line-height: 19px;
    }
    h2 {
        text-align: center;
        @media(max-width: $mobileBreakpoint) {
            text-align: left;
            u {
                text-decoration: none;
            }      
        }
    }
    h3 {
        @media(max-width: $mobileBreakpoint) {
            margin: 0 0 10px 0;
            font-weight: 500;
        }
    }
    p {
        @media(max-width: $mobileBreakpoint) {
            a {
                word-break: break-all;
            }
        }
    }
    ol {
        counter-reset: o-counter;
        list-style-type: none;
        li {
            @media(max-width: $mobileBreakpoint) {
                padding-bottom: 10px;
                &:last-child {
                    padding-bottom: 0px;  
                }
            }
        } 
        >li li {
            @media(max-width: $mobileBreakpoint) {
                padding-bottom: 0px;
            }
        } 
        li:before {
            content: '(' counter(o-counter) ')'  ;
            counter-increment: o-counter;
            display: inline-block;
            margin-top: 16px;
            width:34px;
            @media(max-width: $mobileBreakpoint) {
                margin-top: 0;
                width: 0px;
                padding-left: 30px;
                content: counter(o-counter) '.';
            }
        }
        ul {
            list-style-type: disc;
            counter-reset: o-counter;
            li:before {
                content: none;
                margin-top: 16px;
            }
            li {
                margin-top: 16px;
                @media(max-width: $mobileBreakpoint) {
                    text-indent: 0px;
                }
            }
            @media(max-width: $mobileBreakpoint) {
                padding: 0 15px;
            }
        }
        ol {
            li:before {
                content: '(' counter(o-counter, lower-roman) ')'  ;
                counter-increment: o-counter;
                margin-top: 9px;
                width:34px;
                @media(max-width: $mobileBreakpoint) {
                    content: counter(o-counter, lower-roman) '.'  ;
                    width: 0px;
                }
            }
            ol {
                li:before {
                    content: '(' counter(o-counter, lower-latin) ')'  ;
                    counter-increment: o-counter;
                    display: inline-block;
                    margin-top: 6px;
                    width:34px;
                    @media(max-width: $mobileBreakpoint) {
                        content: counter(o-counter, lower-roman) '.'  ;
                        width: 0px;
                    }
                }
            }
            @media(max-width: $mobileBreakpoint) {
                padding-left: 28px;
            }
        }
        @media(max-width: $mobileBreakpoint) {
            margin-top: 0px;
            text-indent: -30px;
        }
    }
    table {
        margin-left: 34px;
        th {
            padding-bottom: 16px;
            @media(max-width: $mobileBreakpoint) {
                padding-bottom: 0px;
            }
        }
        td {
            padding: 0 9px;
        }
        @media(max-width: $mobileBreakpoint) {
            margin-left: 0px;
        }
    }
    table:nth-of-type(1) {
        @media(max-width: $mobileBreakpoint) {
            td:nth-of-type(odd){
                position: absolute;
            }
            td:nth-of-type(even){
                padding: 0 28px;
            }
        }
    }
    table:nth-of-type(2) {
        th {
            text-decoration: underline;
            text-align: left;
            padding: 0 9px;
            @media(max-width: $mobileBreakpoint) {
                text-decoration: none;
                padding: 0px 0px 5px 0px;
            }    
        }
        td {
            @media(max-width: $mobileBreakpoint) {
                padding: 0px;
            }
        }
        @media(max-width: $mobileBreakpoint) {
            display: flex;
            flex-direction: column;
        }
    }
    table:nth-of-type(3) {
        border: 1px solid black;
        text-align: center;
        margin-top: 24px;
        td {
            padding: 0 9px;
            strong {
                text-decoration: underline;
            }
            @media(max-width: $mobileBreakpoint) {
                padding: 5px 0px;
            }
        }
        @media(max-width: $mobileBreakpoint) {
            padding: 10px 16px;
            margin-bottom: 15px;
        }
    }
    .exhibit {
        margin: 35px 0;
        .center-txt {
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            @media(max-width: $mobileBreakpoint) {
                text-align: left;
                margin: 20px 0;
                u {
                    text-decoration: underline; 
                    color: $black;
                }
            }
        }
        b {
            u {
                @media(max-width: $mobileBreakpoint) {
                    text-decoration: none;
                } 
            }
            @media(max-width: $mobileBreakpoint) {
                margin-left: 12px;
            }
        }
        p {
            @media(max-width: $mobileBreakpoint) {
                padding-left: 44px;
                margin: 5px 0;
            }
        }
        ol {
            counter-reset: o-counter;
            list-style-type: none;
            li:before {
                content: '(' counter(o-counter, lower-latin) ')'  ;
                counter-increment: o-counter;
                display: inline-block;
                margin-top: 16px;
                width:34px;
                @media(max-width: $mobileBreakpoint) {
                    content: counter(o-counter, lower-latin) '.'  ;
                    width: 0px;
                    margin-top: 0;
                }
            }
            li {
                @media(max-width: $mobileBreakpoint) {
                   padding-left: 10px;
                }
            }
            @media(max-width: $mobileBreakpoint) {
                padding-left: 65px;
            }
        }
    }
}
